@font-face {
   font-family: 'Arial';
   src: url("../assets/fonts/arial/arial-regular.ttf");
 }

 @font-face {
   font-family: 'Georgia';
   src: url("../assets/fonts/georgia/georgia-regular.ttf");
 }

 .body {
   margin-left: 20px;
 }

 .section {
   font-size: 22px;
   font-family: 'Arial';
}

.heading {
   font-size: 32px;
   color: #005670;
}

.text {
   font-size: 24px;
}

.inputNumber, .inputName, .inputRange {
   font-size: 32px;
   color: #005670;
   text-decoration: underline;
}

.button {
   margin: 3px 0px;
   font-size: 28px;
   font-weight: bold;
   width: 250px;
   border-radius: 30px;
   border-width: 3px;
   background-color: #6c919d;
}

.button:hover {
   cursor: pointer;
   background-color:#728186;
   border-width: 3px;
}

.task {
   font-size: 22px;
   font-family: Georgia;
   font-style: italic;
   font-weight: 800;
}