.section {
   font-size: 36px;
}

.heading {
   font-size: 58px;
   color: #005670;
}

.text {
   font-size: 46px;
}

.inputNumber {
   font-size: 55px;
   color: red;
}

.button {
   margin: 20px 0px;
   font-size: 40px;
   font-weight: bold;
   width: 250px;
   border-radius: 30px;
   background-color: antiquewhite;
}